<!DOCTYPE html>
<html>
	<head>
		<title>KiKI's Bakery</title>
		<link href="../../public/stylesheets/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1>KiKi's Bakery</h1>
			</header>
			<nav>
			<ul>
				<li><a href="index.scala.html">Home</a></li>	
				<li><a href="about.scala.html">About</a></li>
				<li><a href="products.scala.html">Products</a></li>
				<li><a href="contact.scala.html">Contact</a></li>		
			</ul>
			</nav>
			<div class="content">
				<div class="about-content">
					<h2>About us</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien justo, scelerisque nec lobortis a, suscipit non ex. Maecenas a quam euismod justo lacinia accumsan eu eget arcu. Donec et facilisis ex. Quisque luctus auctor felis, sed varius leo ornare sit amet. Nam posuere lobortis dolor, sed feugiat leo pretium luctus. Quisque vitae tincidunt elit, ac eleifend augue. Aenean molestie massa ut libero rutrum, eu congue orci mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc euismod turpis luctus nibh pellentesque feugiat. Maecenas ultrices mollis lobortis. Donec et elementum est. Aliquam pharetra, est sit amet hendrerit tempus, purus eros imperdiet ante, ultrices pharetra magna arcu et est. Praesent sit amet tempus justo. Quisque a bibendum velit, eu hendrerit lectus. In eget magna purus.</p>

					<p>Quisque elementum lacus nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean semper felis vitae metus tincidunt tempus. Donec finibus leo quis egestas tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus enim sem, imperdiet non magna eget, viverra suscipit elit. Maecenas at pharetra sem. Mauris venenatis, magna nec efficitur sagittis, ipsum quam aliquet est, nec scelerisque diam erat vitae mauris. Aliquam venenatis porttitor nisi ut condimentum. Fusce et sagittis justo. Vivamus ut lorem vitae lacus aliquam mollis ac tincidunt libero.</p>

					<p>Duis feugiat iaculis erat, in condimentum ex placerat sed. Integer elementum neque at tellus rhoncus, et tempus ex ultrices. Cras dolor turpis, luctus sit amet ipsum finibus, ornare tempor est. Donec viverra facilisis eleifend. Praesent efficitur lectus et tempor maximus. In vel tortor vel odio suscipit scelerisque at sit amet lacus. Vivamus arcu ligula, rhoncus sed vestibulum at, suscipit quis urna. Morbi vehicula erat sed aliquet posuere. Aliquam bibendum sed lectus nec ornare. Aliquam luctus, arcu non gravida varius, nisi ligula venenatis erat, vitae pellentesque velit leo sit amet nulla.</p>
				</div>
			</div>
			<footer>
				<p>&copy; by Barry Donnelly</p>
				<section class="social">
					<a href="https://www.facebook.com/" target="_blank"><img src="../../public/images/facebook.png" alt="facebook"/></a>
					<a href="https://twitter.com/?lang=en" target="_blank"><img src="../../public/images/twitter.png" alt="twitter"/></a>
					<a href="https://www.linkedin.com/" target="_blank" ><img src="../../public/images/linkedin.png" alt="linkedin"/></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="../../public/images/youtube.jpg" alt="youtube"/></a>
				</section>
				<section class="site-map">
					<a href="site-map.scala.html">Site map</a>
				</section>
			</footer>
		</div>
	</body>
</html>
