<!DOCTYPE html>
<html>
	<head>
		<title>KiKis Bakery</title>
		<link href="../../public/stylesheets/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1>KiKi's Bakery</h1>
			</header>
			<nav>
			<ul>
				<li><a href="index.scala.html">Home</a></li>	
				<li><a href="about.scala.html">About</a></li>
				<li><a href="products.scala.html">Products</a></li>
				<li><a href="contact.scala.html">Contact</a></li>		
			</ul>
			</nav>
			<div class="content">
				<div class="add">
					<fieldset>
					<legend>Add a Cake to the Database</legend>
					<form>
						<p><label id="id" name="id">ID</label> <br> <input type="number" name="id" id="id" placeholder="ID:"/></p>
						<p><label id="name2" name="name2">Name:</label> <br> <input type="text" name="name2" id="name2" placeholder="Name:"/></p>
						<p><label id="desc" name="desc">Description</label> <br> <input type="text" name="desc" id="desc" placeholder="Description:"/></p>
						<p><label id="Category" name="Category">Category</label> <br> <input type="text" name="Category" id="Category" placeholder="Category:"/></p>
						<p><label id="Stock" name="Stock">Stock</label> <br> <input type="text" name="Stock" id="Stock" placeholder="Stock:"/></p>
						<p><label id="Price" name="Price">Price</label> <br> <input type="text" name="Price" id="Price" placeholder="Price:"/></p>
					</form>
					</fieldset>
				</div>
				<div class="update">
					<fieldset>
					<legend>Update a Cake in the Database</legend>
					<form>
						<p><label id="id2" name="id2">ID</label> <br> <input type="number" name="id2" id="id2" placeholder="ID:"/></p>
						<p><label id="name2" name="name2">Name:</label> <br> <input type="text" name="name2" id="name2" placeholder="Name:"/></p>
						<p><label id="desc2" name="desc2">Description</label> <br> <input type="text" name="desc2" id="desc2" placeholder="Description:"/></p>
						<p><label id="Category2" name="Category2">Category</label> <br> <input type="text" name="Category2" id="Category2" placeholder="Category:"/></p>
						<p><label id="Stock2" name="Stock2">Stock</label> <br> <input type="text" name="Stock2" id="Stock2" placeholder="Stock:"/></p>
						<p><label id="Price2" name="Price2">Price</label> <br> <input type="text" name="Price" id="Price" placeholder="Price:"/></p>
					</form>
					</fieldset>
				</div>
				<div class="delete">
					<fieldset>
					<legend>Delete a Cake from the Database</legend>
					<form>
						<p><label id="id3" name="id3">ID</label> <br> <input type="number" name="id3" id="id3" placeholder="ID:"/></p>
					</form>
					</fieldset>
				</div>
			</div>
		</div>
		<footer>
				<p>&copy; by Barry Donnelly</p>
				<section class="social">
					<a href="https://www.facebook.com/" target="_blank"><img src="../../public/images/facebook.png" alt="facebook"/></a>
					<a href="https://twitter.com/?lang=en" target="_blank"><img src="../../public/images/twitter.png" alt="twitter"/></a>
					<a href="https://www.linkedin.com/" target="_blank" ><img src="../../public/images/linkedin.png" alt="linkedin"/></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="../../public/images/youtube.jpg" alt="youtube"/></a>
				</section>
				<section class="site-map">
					<a href="site-map.scala.html">Site map</a>
				</section>
			</footer>
	</body>
</html>