<!DOCTYPE html>
<html>
	<head>
		<title>KiKI's Bakery</title>
		<link href="../../public/stylesheets/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1>KiKi's Bakery</h1>
			</header>
			<nav>
			<ul>
				<li><a href="index.scala.html">Home</a></li>	
				<li><a href="about.scala.html">About</a></li>
				<li><a href="products.scala.html">Products</a></li>
				<li><a href="contact.scala.html">Contact</a></li>		
			</ul>
			</nav>
			<div class="content">
			<div class="form-center">
			<form class="form" action="" method="GET">
			
			<p>
			<label id="name" name="name"></label>
			<input id="name" for="name" type="text" value="" placeholder="Name" required></input>
			</p>
			
			<p>
			<label id="email" name="email"></label>
			<input id="email" for="email" type="email" value="" placeholder="Email" required></input>
			</p>
			
			<p>
			<label id="pNum" name="pNum"></label>
			<input id="pNum" for="pNum" type="number" value="" placeholder="Phone number" ></input>
			</p>
			
			<p>
			<label id="textarea" name="textarea"></label>
			<textarea placeholder="More information">
				
			</textarea>
			</p>
			
			
			<p><input type="submit" id="submit" name="submit"></p>
			<p><input type="reset" id="reset" name="reset"></p>
		
			</form>
			</div>

			</div>
			<footer>
				<p>&copy; by Barry Donnelly</p>
				<section class="social">
					<a href="https://www.facebook.com/" target="_blank"><img src="../../public/images/facebook.png" alt="facebook"/></a>
					<a href="https://twitter.com/?lang=en" target="_blank"><img src="../../public/images/twitter.png" alt="twitter"/></a>
					<a href="https://www.linkedin.com/" target="_blank" ><img src="../../public/images/linkedin.png" alt="linkedin"/></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="../../public/images/youtube.jpg" alt="youtube"/></a>
				</section>
				<section class="site-map">
					<a href="site-map.scala.html">Site map</a>
				</section>
			</footer>
		</div>
	</body>
</html>
