<!DOCTYPE html>
<html>
	<head>
		<title>KiKI's Bakery</title>
		<link href="../../public/stylesheets/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1>KiKi's Bakery</h1>
			</header>
			<nav>
			<ul>
				<li><a href="index.scala.html">Home</a></li>	
				<li><a href="about.scala.html">About</a></li>
				<li><a href="products.scala.html">Products</a></li>
				<li><a href="contact.scala.html">Contact</a></li>		
			</ul>
			</nav>
			<div class="content">
				<div class="index-content">
				
				<figure class="float-left">
					<img src="../../public/images/yvonnes_wedding_cake.JPG" alt="img of a wedding cake" />
						<figcaption>
							<h3>About the cake</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus pharetra augue quis egestas. Maecenas ullamcorper est sed eleifend placerat. Quisque luctus, turpis at blandit eleifend, augue lorem varius dolor, ac tincidunt dolor lacus vel diam. Vestibulum vitae lectus rhoncus velit rutrum tempor id at neque. Nulla in varius leo, sed efficitur mi. Ut libero libero, dapibus et metus at, cursus varius purus. Sed faucibus mattis orci vitae accumsan. Ut eu nunc nibh. Etiam dictum a mauris eu porta. Sed dolor massa, tincidunt quis interdum vel, convallis ut lectus. Maecenas rhoncus blandit iaculis. Pellentesque quis arcu vel mauris convallis pretium. Pellentesque tempor egestas magna et facilisis. Donec finibus auctor ante posuere venenatis. Sed hendrerit nunc quis lorem pulvinar, sed mattis risus tristique.</p>
						</figcaption>
					</figure>
					
					<figure class="float-right">
					<img src="../../public/images/x-mass_cake.JPG" alt="img of a christmas cake" />
						<figcaption>
							<h3>About the cake</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus pharetra augue quis egestas. Maecenas ullamcorper est sed eleifend placerat. Quisque luctus, turpis at blandit eleifend, augue lorem varius dolor, ac tincidunt dolor lacus vel diam. Vestibulum vitae lectus rhoncus velit rutrum tempor id at neque. Nulla in varius leo, sed efficitur mi. Ut libero libero, dapibus et metus at, cursus varius purus. Sed faucibus mattis orci vitae accumsan. Ut eu nunc nibh. Etiam dictum a mauris eu porta. Sed dolor massa, tincidunt quis interdum vel, convallis ut lectus. Maecenas rhoncus blandit iaculis. Pellentesque quis arcu vel mauris convallis pretium. Pellentesque tempor egestas magna et facilisis. Donec finibus auctor ante posuere venenatis. Sed hendrerit nunc quis lorem pulvinar, sed mattis risus tristique.</p>
						</figcaption>
					</figure>
					
					<figure class="float-left">
					<img src="../../public/images/Chocolate_christening cake 1.JPG" alt="img of a christening cake" />
						<figcaption>
							<h3>About the cake</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus pharetra augue quis egestas. Maecenas ullamcorper est sed eleifend placerat. Quisque luctus, turpis at blandit eleifend, augue lorem varius dolor, ac tincidunt dolor lacus vel diam. Vestibulum vitae lectus rhoncus velit rutrum tempor id at neque. Nulla in varius leo, sed efficitur mi. Ut libero libero, dapibus et metus at, cursus varius purus. Sed faucibus mattis orci vitae accumsan. Ut eu nunc nibh. Etiam dictum a mauris eu porta. Sed dolor massa, tincidunt quis interdum vel, convallis ut lectus. Maecenas rhoncus blandit iaculis. Pellentesque quis arcu vel mauris convallis pretium. Pellentesque tempor egestas magna et facilisis. Donec finibus auctor ante posuere venenatis. Sed hendrerit nunc quis lorem pulvinar, sed mattis risus tristique.</p>
						</figcaption>
					</figure>
			
				</div>
			</div>
			<footer>
				<p>&copy; by Barry Donnelly</p>
				<section class="social">
					<a href="https://www.facebook.com/" target="_blank"><img src="../../public/images/facebook.png" alt="facebook"/></a>
					<a href="https://twitter.com/?lang=en" target="_blank"><img src="../../public/images/twitter.png" alt="twitter"/></a>
					<a href="https://www.linkedin.com/" target="_blank" ><img src="../../public/images/linkedin.png" alt="linkedin"/></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="../../public/images/youtube.jpg" alt="youtube"/></a>
				</section>
				<section class="site-map">
					<a href="site-map.scala.html">Site map</a>
				</section>
			</footer>
		</div>
	</body>
</html>
