@(products: List[models.product])

<!DOCTYPE html>
<html>
	<head>
		<title>KiKI's Bakery</title>
		<link href="../../public/stylesheets/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1>KiKi's Bakery</h1>
			</header>
			<nav>
			<ul>
				<li><a href="index.scala.html">Home</a></li>	
				<li><a href="about.scala.html">About</a></li>
				<li><a href="products.scala.html">Products</a></li>
				<li><a href="contact.scala.html">Contact</a></li>		
			</ul>
			</nav>
			<div class="content">
				<div class="table-center">
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>	
							<th>Description</th>
							<th>Category</th>
							<th>Stock</th>
							<th>Price</th>
						</tr>
						</thead>
						<tbody>
						<!-- Start of the loop - for each p in products add a row -->
						<tr>
							<td class="numeric">@p.getId</td>
							<td>@p.getName</td>	
							<td>@p.getDescription</td>
							<td class="numeric">@p.getStock</td>
							<td>baked freash</td>
							<td class="numeric">&euro; @("%.2f".format(p.getPrice))</td>
						</tr>
						<!-- End of for loop-->
						</tbody>
				</table>
				</div>
			</div>
			<footer>
				<p>&copy; by Barry Donnelly</p>
				<section class="social">
					<a href="https://www.facebook.com/" target="_blank"><img src="../../public/images/facebook.png" alt="facebook"/></a>
					<a href="https://twitter.com/?lang=en" target="_blank"><img src="../../public/images/twitter.png" alt="twitter"/></a>
					<a href="https://www.linkedin.com/" target="_blank" ><img src="../../public/images/linkedin.png" alt="linkedin"/></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="../../public/images/youtube.jpg" alt="youtube"/></a>
				</section>
				<section class="site-map">
					<a href="site-map.scala.html">Site map</a>
				</section>
			</footer>
		</div>
	</body>
</html>
